.sobre-bio {
  margin: 15% 2vw 0vw;
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: -1px;
  width: 40vw;
}
  
  .sobre-bio p {
    margin: 20px 0px;
  }

  .sobre-overlay a {
    text-decoration: underline!important;
}
  
  
  @media (max-width: 500px) {
    .sobre-bio {
      width: 90vw;
      font-size: 18px;
      margin: auto;
      margin-top: 50px;
      height: 100vh;
      overflow: hidden; 
  }
  
  
  }